.root {
   -fx-background-color: linear-gradient(to bottom, #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
    -fx-padding: 7;
    -fx-border-color:#004A96;
}
.stack{
    -fx-border-color:#004A96;
    -fx-border-width:2px; 
}

.progress-indicator .indicator {
    -fx-background-color: transparent ;
}
.progress-indicator {
    -fx-progress-color: green ;
}
.progress-indicator:critical {
    -fx-progress-color: red ;
}
.progress-indicator:warning {
    -fx-progress-color: orange ;
}