.enquirybtn{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 1.0em;
    -fx-text-fill: #42426F;
}

.enquirybtn:hover{
    -fx-background-color: 
        linear-gradient(to bottom, #fbfbfb 0%,#edeef1 21%,#dddee3 49%,#eff0f1 80%,#fbfbfb 100%);
}
.enquirybtn:pressed {
    //  -fx-padding: 8;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.enquirybtn Text {
    -fx-text-fill:  white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
#vboxbuttons{
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-alignment: center;

}
#enquirytopleftbtn{
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 1.5em;
    -fx-text-fill: #42426F;
    -fx-end-margin: 20;

}
#enquirytopleftbtn:hover{
    -fx-background-color: 
        linear-gradient(to bottom, #fbfbfb 0%,#edeef1 21%,#dddee3 49%,#eff0f1 80%,#fbfbfb 100%);
}

#enquirylblmenu {
    -fx-text-fill: #42426F;
    -fx-font-size: 1.5em;
    -fx-alignment: center;

}

#enquirylbltitle1{
    -fx-text-fill: #42426F;
}
#enquirylbltitle2{
    -fx-text-fill: #ff3030;
}
.enquiryimportant{
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 1.5em;
    -fx-text-fill: #42426F;
    -fx-end-margin: 20;
    -fx-padding:10;
}

.tab-pane .tab-header-area .tab-header-background {
    //  -fx-opacity: 0;
    //  visibility: hidden;
}

.tab-pane
{
    -fx-tab-min-width:160px;
    -fx-tab-min-height:30px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    //-fx-background-color: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    -fx-border-color: #cccccc;
}

.tab-pane .tab:selected
{
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #42426F;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
}

.gradient1{
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );  
}
.setborderradius{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
}
.noticeboard{
    -fx-padding: 8;
    -fx-spacing:5;
}
.enquiryvbox4btn{
    -fx-padding: 6;
    -fx-spacing:4;
}
.custom-window-titlebar {
    -fx-font-size: 14px;
    -fx-text-fill:  #ffffff;
    -fx-fill:  #ffffff;
    -fx-alignment: center;
    -fx-background-color: #08468F;
    /*    -fx-background-color: #08468F;*/
    /*    -fx-border-color: #4565CC;*/

}
.gradient2{
    -fx-background-color:  linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
}
.gradient_blue{
    -fx-background-color:linear-gradient(to bottom, rgba(179,211,237,1) 0%,rgba(41,157,229,1) 50%,rgba(188,216,238,1) 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );  

}
.gradient_red{
    -fx-background-color: linear-gradient(to bottom, rgba(237,189,179,1) 0%,rgba(229,60,41,1) 50%,rgba(238,195,188,1) 100%); 
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );  

}
.gradient_bg_blue{
    -fx-background-color: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(221,224,253,1) 100%); 
}
.enquiryvbox4Stat{
    -fx-padding: 6;
}
.vboxmainr{
    -fx-border-color:  linear-gradient(to bottom, rgba(237,189,179,1) 0%,rgba(229,60,41,1) 50%,rgba(238,195,188,1) 100%); 
    -fx-border-width: 2;
}
#enquiryhboxtop{
    -fx-padding: 8;
    -fx-spacing: 4;
    -fx-border-color:grey;
    -fx-border-width:3;
}

.hboxPriorityImpr{
    -fx-spacing: 4;
}
.context-menu {
    -fx-background-color: #ff3333;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.context-menu:hover {
    -fx-background-color: #ff3333;
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.enquirysidebarbtn{
    /*    -fx-background-color: 
            linear-gradient(#104E8B	, #003F87),
            linear-gradient(#26466D, #3A5894),
            linear-gradient(#1B3F8B, #08468F),
            linear-gradient(#162252 0%, #08468F 50%, #08468F 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));*/
    -fx-background-color:   linear-gradient(#104E8B	, #003F87),
        linear-gradient(#26466D, #3A5894),
        linear-gradient(#1B3F8B, #4169E1),
        linear-gradient(#162252 0%, #283A90 50%, #283A90 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));


    -fx-background-radius: 15;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #F5F5F5;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    // -fx-padding: 10 20 10 20;  //  -fx-background-color: #006699;

}
.vboxRightSideBar{
    /*    -fx-padding: 4 16 0 16;
        -fx-spacing: 6;*/
}
.ia_enquiry_submit{
    -fx-background-color: 
        linear-gradient(#104E8B	, #003F87),
        linear-gradient(#26466D, #3A5894),
        linear-gradient(#1B3F8B, #4169E1),
        linear-gradient(#162252 0%, #283A90 50%, #283A90 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #F5F5F5;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    /*    -fx-padding: 6 15 6 15;*/
}
.enquirycenteranchor{
    // -fx-border-width:16;
    //    -fx-border-color:  linear-gradient(to bottom, rgba(237,249,252,1) 0%, rgba(167,208,251,1) 50%, rgba(134,188,253,1) 51%, rgba(122,186,255,1) 100%);
}
.labelenquirystatus{
    -fx-background-color: #C6D4F9;

}
.enquirylbltitle{
    -fx-font-size:16;

    -fx-font-family:"Arial";
}
.gradient_bg_lightblue{
    /*-fx-background-color: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(209,243,249,1) 100%);*/
    -fx-background-color: whitesmoke
}
.table-column{
    /*-fx-alignment: center;*/
    -fx-font-size:11;
}
.tblAppoinments .table-columnTimeD {
    /*   -fx-font-weight: bold;
         -fx-font-size:10;*/

}
.table-cell{
    /*-fx-alignment: CENTER_LEFT;*/
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
}


.table-row-cell:filled{
    -fx-font-weight: bold;
    -fx-font-size:10;
    -fx-background-color:#ededed;
    -fx-alignment: CENTER;
}
.table-row-cell:odd{
    -fx-background-color:#6183A6;  
    /*      -fx-text-fill: white;*/
    -fx-alignment: CENTER;
    /*-fx-font-color:#FFFFFF;*/


}
.table-row-cell:odd .text{
    -fx-fill: white ;
}
.table-row-cell:empty{
    -fx-background-color:#ededed;
}
.my-special-column-style .label {
    -fx-alignment: CENTER_LEFT;
    /*-fx-text-fill: red;*/
}
.table-row-cell:selected .text {
    -fx-fill: black ;

}
.sideTitledPane{
    -fx-text-fill: white;  
}
.sideTitledPane > .title {

    -fx-background-color:white, #08468F, #08468F;


}
.sideTitledPane.title > .arrow-button .arrow{
    -fx-background-color: white, white;
}
.centerValue > .table-cell{
    -fx-alignment: CENTER;
}
.mylistview .scroll-bar:vertical{

}
.mylistview .increment-button
, .mylistview .decrement-button{
    -fx-padding: 5px;
}
.plus-button {
    -fx-background-color: transparent;
    -fx-background-image: url("images/plus.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20 20;
    -fx-padding: 3 15 3 15;
}
.close-button {
    -fx-background-color: transparent;
    -fx-background-image: url("images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20 20;
    -fx-padding: 3 15 3 15;
}
.txt-style{
    /*-fx-max-height:
        -fx-min-height:*/
    -fx-pref-height:30;
}
.text-field{
    -fx-pref-height:30;
}
.button-service{
    -fx-background-color: 
        linear-gradient(to bottom, #f9f9f9 0%,#e9eaed 21%,#d3d4db 49%,#eaebee 80%,#f9f9f9 100%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );  
    -fx-pref-height:30
}
.vbox-round-corner{
    -fx-border-color:black;
    -fx-background-radius:5;
    -fx-background-insets:5;
    -fx-border-insets:5;
    -fx-border-radius:5;
}
.tooltip {    
    -fx-background-color:  linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
    -fx-text-fill: black;
}
.page-corner {
}
.searchIcon {
    -fx-background-image:url('images/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 20 20;
}
.btnLeftLinks{
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-background-color: #08468F;
    -fx-text-fill: white;
}
.button-service:focused {
    -fx-border-color:green;
    -fx-effect: dropshadow(gaussian,rgba(63,181,142,8),20,0,0,0 ); 
    -fx-border-radius: 3;
}
/*.gridAssessment .combo-box:focused{

    -fx-border-color:green;
    -fx-effect: dropshadow( gaussian , rgba(63,181,142,1) , 20,0,0,0 ); 
    -fx-border-radius: 3;

}*/
.txt-style:focused{
    -fx-border-color:green;
    -fx-effect: dropshadow( gaussian , rgba(63,181,142,1) , 20,0,0,0 ); 
    -fx-border-radius: 3;
}
.hyperAddAgent{
     -fx-font-weight: bold;
}
.ia_enquiry_submit:focused{
    -fx-border-color:green;
    -fx-effect: dropshadow( gaussian , rgba(63,181,142,1) , 20,0,0,0 ); 
      -fx-border-radius: 10;
}
.round-red {
    -fx-background-color: linear-gradient(#ff1500, #be1d25);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
